:focus {
	outline: 0;
}

html {
	font-size: $font-size-base;
	line-height: $line-height-base;
	background-color: $pink;

	&.no-scroll {
		overflow: hidden;
	}
}

body {
	font-family: 'montserrat-light';
	color: $body-color;
	background: #F4F1FE;
	background: -webkit-linear-gradient(90deg, rgba(244, 241, 254, 1) 0%, rgba(238, 250, 251, 1) 100%);
	background: -moz-linear-gradient(90deg, rgba(244, 241, 254, 1) 0%, rgba(238, 250, 251, 1) 100%);
	background: linear-gradient(90deg, rgba(244, 241, 254, 1) 0%, rgba(238, 250, 251, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#F4F1FE", endColorstr="#EEFAFB", GradientType=1);

	&.no-scroll {
		overflow: hidden;
	}

	// &.index,
	// &.full-cover,
	// &.with-banner {
	// 	main {
	// 		padding-top: 0;
	// 	}
	// }
}

// main {
// 	padding-top: 8px;
	
// 	@include breakpoint(desktop) {
// 		padding-top: 24px;
// 	}

// 	+ footer {
// 		margin-top: 4rem;
		
// 		@include breakpoint(tablet) {
// 			margin-top: 6rem;
// 		}
// 	}
// }

.container {
	padding: 0 16px;

	@include breakpoint(tablet) {
		padding: 0;
	}

	@include breakpoint(laptop) {
		max-width: 1360px;
	}
}

.container-fluid {
	@include breakpoint(tablet) {
		padding: 0 30px;
	}

	@include breakpoint(desktop) {
		padding: 0 60px;
	}

	&.full-width {
		padding: 0;
	}
}

section {
	overflow: hidden;

	&.mt-8 {
		margin-top: 8px;
	}

	&.mt-16 {
		margin-top: 16px;
	}

	&.overflow-visible {
		overflow: visible;
	}
	
	+ section {
		margin-top: 80px;
		
		@include breakpoint(tablet) {
			margin-top: 100px;
		}
	}
}