.font-text-regular {
	font-family: 'montserrat-regular';
}

.font-text-light {
	font-family: 'montserrat-light';
}

i,
.font-text-italic {
	font-family: 'montserrat-italic';
	font-style: normal;
}

.font-text-medium {
	font-family: 'montserrat-medium';
}

.font-text-semibold {
	font-family: 'montserrat-semibold';
}

.font-text-bold {
	font-family: 'montserrat-bold';
}

a {
	text-decoration: none;
	color: $link-color;
	transition: all 0.3s linear;

	&:hover {
		text-decoration: none;
	}
}

h3,
h4,
h5 {
	line-height: 120%;
}

p {
	line-height: 130%;
	font-size: 1.05em;
	margin: 0;
	
	@include breakpoint(wide) {
		font-size: 1.15em;
	}

	+ p {
		margin-top: 10px;
	}
}

ul,
ol {
	margin: 0;

	&.flat {
		& > li {
			display: inline-block;
			margin: 0 8px 0 0;
		}
	}
}

strong,
b {
	font-family: 'montserrat-bold';
	font-weight: normal;
}

.show-mobile {
	display: block!important;

	@include breakpoint(tablet) {
		display: none!important;
	}
}

.show-tablet {
	display: block!important;

	@include breakpoint(desktop) {
		display: none!important;
	}
}

.hide-tablet {
	display: none!important;

	@include breakpoint(desktop) {
		display: block!important;
	}
}

.show-desktop {
	display: none!important;

	@include breakpoint(tablet) {
		display: block!important;
	}
}

.breadcrumb-page {
	background-color: $light-blue;
	margin-bottom: 48px;

	.breadcrumb {
		margin: 1rem 0 0;
		background-color: transparent;
		padding: 0.75rem 0;
		border-radius: 0;

		.breadcrumb-item {
			font-size: 0.8em;

			&.active {
				color: $semi-grey;
			}

			a {
				color: $dark;

				&:hover {
					color: $blue;
				}
			}
		}
	}
}

.title-page {
	margin-bottom: 3rem;
	
	@include breakpoint(wide) {
		margin-bottom: 4rem;
	}

	h2,
	h3 {
		font-size: 1.6rem;
		color: $title-color;
		text-transform: uppercase;
		line-height: 100%;
		
		@include breakpoint(tablet) {
			font-size: 2.1rem;
		}

		@include breakpoint(laptop) {
			font-size: 2.3rem;
		}

		strong {
			display: block;
		}
	}
}

.title-section {
	position: relative;
	text-align: center;
	margin-bottom: 2.1rem;

	h4 {
		font-size: 1.2rem;
		font-style: italic;
		text-transform: uppercase;
		line-height: 100%;
		color: $title-color;
		
		@include breakpoint(mobile-iphone) {
			font-size: 1.1rem;
		}

		@include breakpoint(tablet) {
			font-size: 1.4rem;
		}

		strong {
			display: block;
		}

		+ h2 {
			margin-top: 10px;
		}
	}

	h2 {
		font-size: 1.8em;
		text-transform: uppercase;
		line-height: 100%;
		color: $title-highlight-color;

		@include breakpoint(mobile-iphone) {
			font-size: 1.6rem;
		}
		
		@include breakpoint(tablet) {
			font-size: 2.4em;
		}

		+ p {
			margin-top: 20px;
		}
	}

	p {
		@include breakpoint(wide) {
			max-width: 80%;
			margin-left: auto;
			margin-right: auto;
		}

		@include breakpoint(desktop) {
			max-width: 70%;
		}
	}

	.viewmore {
		background-color: $white;
		padding-left: 16px;
		
		@include breakpoint(tablet) {
			padding-left: 24px;
		}
		
		@include breakpoint(wide) {
			padding-left: 32px;
		}

		a {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			gap: 8px;
		}

		.text {
			font-size: 0.9em;
			font-weight: normal;
			padding: 2px 0 0;
			
			@include breakpoint(tablet) {
				font-size: 1em;
			}
			
			@include breakpoint(wide) {
				font-size: 1.1em;
			}
		}
	}

	// &:before {
	// 	content: "";
	// 	position: absolute;
	// 	z-index: -1;
	// 	top: 50%;
	// 	bottom: initial;
	// 	left: 1px;
	// 	right: 1px;
	// 	width: 100%;
	// 	height: 1px;
	// 	background-color: $border-light;
	// }
}

.subtitle-section {
	position: relative;
	margin-bottom: 20px;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	gap: 20px;

	.divider {
		display: block;
		width: 50%;
		height: 1px;
		background-color: $border-light;
		
		@include breakpoint(tablet) {
			width: 100%;
		}
	}

	.viewmore {
		a {
			font-size: 0.9rem;
			white-space: nowrap;
		}

		span {
			+ .icon {
				margin-left: 6px;
			}
		}
	}

	h4 {
		font-size: 1.1rem;
		line-height: 100%;
		text-transform: uppercase;
		// max-width: 65%;
		letter-spacing: 0.5pt;
		
		@include breakpoint(tablet) {
			// font-size: 1.3rem;
			white-space: nowrap;
		}
	}

	h2 {
		font-size: 1.5rem;
		text-transform: uppercase;
		line-height: 100%;
		color: $title-color;
		background-color: $white;
		padding-right: 16px;
		max-width: 67%;
		
		@include breakpoint(mobile-iphone) {
			font-size: 1.4rem;
			max-width: 50%;
		}

		@include breakpoint(tablet) {
			font-size: 1.8rem;
			padding-right: 24px;
			max-width: 70%;
		}

		@include breakpoint(wide) {
			padding-right: 32px;
			max-width: 80%;
		}

		@include breakpoint(laptop) {
			font-size: 1.9rem;
		}

		&:before {
			content: "";
			position: absolute;
			z-index: -1;
			top: 50%;
			bottom: initial;
			left: 1px;
			right: 1px;
			width: 100%;
			height: 1px;
			background-color: $border-light;
		}
	}
}

.thumbnail-info {
	padding: 0.5rem;
	
	@include breakpoint(tablet) {
		padding: 1rem;
	}

	.thumbnail-wrapper {
		position: relative;
	}

	.click-area {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	.image-area {
		figure {
			width: 100%;
			height: 0;
			padding: 0 0 66.6%;
			position: relative;
			overflow: hidden;

			img {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
				transition: all 0.3s linear;
			}
		}
	}

	.info-area {
		padding: 1.5rem;
		background-color: $blue;
	
		@include breakpoint(tablet) {
			padding: 26px 20px;
			min-height: 90.22px;
		}

		@include breakpoint(wide) {
			min-height: 93.86px;
		}

		p {
			text-align: center;
			color: $white;
			transition: all 0.3s linear;
		}
	}

	&.square-image {
		.image-area {
			figure {
				padding: 0 0 100%;
			}
		}
	}

	&.model-2 {
		padding: 10px 5px;
	
		@include breakpoint(tablet) {
			padding: 10px;
		}

		.thumbnail-wrapper {
			border: 1px solid #dedede;
			overflow: hidden;
			border-radius: 30px;
		}
		
		.info-area {
			background-color: #f3f4f6;
			min-height: 0;
			
			@include breakpoint(tablet) {
				padding: 20px;
			}

			.category-label {
				font-size: 0.8rem;
				text-transform: uppercase;
				display: block;
				color: #a2a2a2;

				+ p {
					margin-top: 6px;
				}
			}

			p {
				font-size: 1.1rem;
				line-height: 130%;
				text-align: left;
				color: $title-color;
				transition: all 0.3s linear;
				
				+ .desc-info {
					margin-top: 8px;
				}

				&.desc-info {
					font-size: 1rem;
					font-family: 'lato-regular';
					color: $body-color;
				}
			}
		}

		&:hover {
			.info-area {
				p {
					color: $blue;

					&.desc-info {
						color: $body-color;
					}
				}
			}
		}
	}

	&:hover {
		.image-area {
			figure {
				img {
					transform: scale(1.1);
				}
			}
		}
	}
}

.header-page {
	background: #DF3C71;
	background: -webkit-linear-gradient(90deg, rgba(223, 60, 113, 1) 0%, rgba(24, 18, 43, 1) 100%);
	background: -moz-linear-gradient(90deg, rgba(223, 60, 113, 1) 0%, rgba(24, 18, 43, 1) 100%);
	background: linear-gradient(90deg, rgba(223, 60, 113, 1) 0%, rgba(24, 18, 43, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#DF3C71", endColorstr="#18122B", GradientType=1);

	.header-wrapper {
		padding-top: 8rem;
		padding-bottom: 3rem;
	
		@include breakpoint(desktop) {
			padding-top: 10rem;
			padding-bottom: 3.5rem;
		}
	}

	.breadcrumb {
		padding: 0;
		margin-bottom: 30px;
		background-color: transparent;
		border-radius: 0;

		.breadcrumb-item {
			font-size: 0.85rem;
			color: $white;

			a {
				color: $white;

				&:hover {
					color: $link-hover-color;
				}
			}

			&.active {
				color: rgba($white, 0.5);
			}

			+ .breadcrumb-item {
				&::before {
					color: rgba($white, 0.5);
				}
			}
		}
	}

	.title-page {
		margin: 0;

		h2 {
			color: $white;

			+ h6 {
				margin-top: 10px;
			}

			+ .tags {
				margin-top: 10px;
			}
		}

		h6 {
			color: rgba($white, 0.5);

			@include breakpoint(tablet) {
				max-width: 60%;
			}
		}

		.tags {
			li {
				+li {
					&:before {
					background-color: rgba($white, 0.5);
					}
				}
			}

			h6 {
				font-size: 0.85rem;

				@include breakpoint(tablet) {
					font-size: 0.9rem;
					max-width: initial;
				}

				a {
					color: rgba($white, 0.5);

					&:hover {
						color: $link-hover-color;
					}
				}
			}
		}

		+ .author-bookmark {
			margin-top: 30px;
		}
	}

	.author-bookmark {
		@include breakpoint(tablet) {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
		}

		.author-info {
			@include breakpoint(tablet) {
				width: 70%;
			}

			.wrapper {
				display: flex;
				flex-wrap: nowrap;
				align-items: center;
				gap: 8px;
			}

			.image-area {
				flex: 0 0 40px;
				max-width: 40px;
				flex-basis: 0;
				flex-grow: 1;
				
				@include breakpoint(tablet) {
					flex: 0 0 50px;
					max-width: 50px;
				}

				.images {
					position: relative;
					width: 100%;
					height: 0;
					padding: 0 0 100%;
				}

				img {
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					width: 100%;
					height: 100%;
					-o-object-fit: cover;
					object-fit: cover;
				}

				.text-logo {
					font-size: 1.3em;
					text-align: center;
					line-height: 40px;
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					width: 100%;
					height: 100%;
					color: $link-color;
					background-color: $white;
					border-radius: 100%;
					
					@include breakpoint(tablet) {
						font-size: 1.5em;
						line-height: 50px;
					}
				}
			}

			.info-area {
				flex-basis: 0;
				flex-grow: 1;
				max-width: 100%;
				// flex: 0 0 auto;
				// width: auto;

				h4 {
					font-size: 1em;
					color: $white;

					@include breakpoint(tablet) {
						font-size: 1.3em;
					}

					a {
						color: $white;

						&:hover {
							color: $link-hover-color;
						}
					}
					
					+ .auth-date {
						margin-top: 2px;
					}
				}

				.auth-date {
					padding: 0;
					list-style: none;
					display: flex;
					flex-wrap: nowrap;

					li {
						position: relative;
						margin: 0;

						+ li {
							padding-left: 12px;
							margin-left: 8px;

							&:before {
								content: "";
								width: 4px;
								height: 4px;
								background-color: rgba($white, 0.5);
								border-radius: 100%;
								position: absolute;
								top: 50%;
								bottom: initial;
								left: 0;
								right: initial;
								margin-top: -2px;
							}
						}
					}

					h6 {
						font-size: 0.8em;
						color: rgba($white, 0.5);
					}

					.auth-name {
						span {
							text-transform: uppercase;
							text-decoration: underline;
						}

						a {
							text-transform: uppercase;
							text-decoration: underline;
							color: $title-color;

							&:hover {
								color: $link-color;
							}
						}
					}
				}
			}

			+ .bookmark-likes {
				margin-top: 24px;
				
				@include breakpoint(tablet) {
					margin-top: 0;
				}
			}
		}

		.bookmark-likes {
			.wrapper {
				display: flex;
				flex-wrap: nowrap;
				align-items: center;
				gap: 10px;

				@include breakpoint(tablet) {
					gap: 30px;
				}
			}

			.icon-text {
				@include breakpoint(mobile) {
					flex-basis: 0;
					flex-grow: 1;
					max-width: 100%;
				}

				&.bookmark-area {
					a {
						&:hover {
							@include breakpoint(mobile) {
								color: $white;
							}
						}
						&.active {
							@include breakpoint(mobile) {
								color: $white;
								background-color: $button-hover-background;
								border-color: $button-hover-background;
							}

							@include breakpoint(tablet) {
								color: $white;
							}

							.icon {
								font-weight: 900;
							}
						}
					}
				}

				&.likes-area {
					a {
						&:hover {
							@include breakpoint(mobile) {
								color: $white;
							}
						}

						&.active {
							@include breakpoint(mobile) {
								color: $white;
								background-color: #f10169;
								border-color: #f10169;
							}

							@include breakpoint(tablet) {
								color: #f10169;
							}

							.icon {
								font-weight: 900;
							}
						}
					}
				}

				a {
					display: flex;
					flex-wrap: nowrap;
					align-items: center;
					gap: 8px;
					color: rgba($white, 0.5);

					@include breakpoint(mobile) {
						padding: 12px 16px;
						justify-content: center;
						color: $white;
						background: rgba($white, 0.2);
						border: 1px solid rgba($white, 0.3);
						backdrop-filter: saturate(180%) blur(5px);
						-webkit-backdrop-filter: saturate(180%) blur(5px);
						border-radius: 50px;
					}

					&:hover {
						color: $link-color;
					}
				}

				.icon {
					font-size: 1.3em;
					
					@include breakpoint(tablet) {
						font-size: 1.6em;
					}
					
					@include breakpoint(small-mobile) {
						font-size: 1.2em;
					}
				}

				.text {
					font-size: 0.9em;
					
					// @include breakpoint(tablet) {
					// 	font-size: 1.1em;
					// }
					
					@include breakpoint(small-mobile) {
						font-size: 0.8em;
					}
				}
			}
		}
	}

	+ .content-page {
		margin-top: 60px;
	
		@include breakpoint(tablet) {
			margin-top: 80px;
		}
	}
}

.content-page {
	.content-list-group {
		+ .content-list-group {
			margin-top: 60px;
			
			@include breakpoint(tablet) {
				margin-top: 80px;
			}
		}

		+ .paging-area {
			margin-top: 60px;
			
			@include breakpoint(tablet) {
				margin-top: 80px;
			}
		}
	}
}

.line-clamp-2, 
.line-clamp-3 {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

.line-clamp-1 {
	overflow: hidden;
	display: -webkit-box;
	white-space: nowrap;
    -webkit-line-clamp: 1;
}

.line-clamp-2 {
    -webkit-line-clamp: 2;
}

.line-clamp-3 {
    -webkit-line-clamp: 3;
}

.text-ellipsis {
    text-overflow: ellipsis;
}

.overflow-hidden {
	overflow: hidden;
}

.overflow-init {
	overflow: initial;
}

.transform-scale {
	transition: $transition-base;

	&:hover {
		transform: scale(1.15);
	}
}

.floating-button {
	position: fixed;
	z-index: 1;
	top: initial;
	bottom: initial;
	left: initial;
	right: 20px;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: all 0.3s linear;

	&.show {
		opacity: 1;
		visibility: visible;
		pointer-events: visible;
	}

	&.add-button {
		bottom: 84px;
		opacity: 1;
		visibility: visible;
		pointer-events: visible;

		.button-inside {
			font-size: 2.4rem;
			text-transform: uppercase;
			padding: 10px 8px;
			width: 60px;
			height: 60px;
			background-color: $tosca;
			box-shadow: 0 1px 3px 0 rgba(27,27,27,0.1),0 4px 8px 0 rgba(27,27,27,0.1);

			@include breakpoint(tablet) {
				font-size: 3rem;
				padding: 16px 10px;
				width: 80px;
				height: 80px;
			}

			span {
				font-size: 0.7em;
				display: block;

				+ small {
					margin-top: 6px;
				}
			}

			&:hover {
				color: $white;
				// background-color: $tosca;
				background-color: $blue;
			}
		}
	}

	&.inquiry-button {
		bottom: 20px;

		.button-inside {
			// font-size: 1.7rem;
			padding: 8px 10px;
			width: 60px;
			height: 60px;
			font-size: 3.2rem;
			line-height: 40px;

			@include breakpoint(tablet) {
				font-size: 3.8rem;
				width: 70px;
				height: 70px;
				line-height: 50px;
			}

			&:hover {
				color: $white;
				background-color: darken($button-background, 10%);
				
				.arrow {
					border-color: darken($button-background, 10%);

					&:before {
						border-top-color: darken($button-background, 10%);
					}

					&:after {
						border-top-color: darken($button-background, 10%);
					}
				}
			}
		}
	} 

	&.back-top {
		bottom: 20px;
		right: 28px;
		
		@include breakpoint(tablet) {
			right: 38px;
		}
		
		.button-inside {
			background-color: transparent;
			border: 2px solid $border-light;
		
			&:hover {
				border-color: $button-background;
				background-color: $button-background;
				
				.icon-arrow {
					border-color: $white;
				}
			}
		}
	} 

	.button-wrapper {
		position: relative;
		// margin-bottom: 0.5rem;
	}

	.arrow {
		position: absolute;
		z-index: -1;
		display: block;
		width: 3rem;
		height: 2rem;
		// margin: 0 0.3rem;
		left: -0.7rem;
		bottom: -0.3rem;
		transform: rotate(45deg);
		
		@include breakpoint(tablet) {
			left: -10px;
		}

		&:before,
		&:after {
			position: absolute;
			display: block;
			content: "";
			border-color: transparent;
			border-style: solid;
			transition: all 0.3s linear;
		}

		&:before {
			bottom: 0;
			border-width: 2rem 1.5rem 0;
			border-top-color: $button-background;
		}

		&:after {
			bottom: 1px;
			border-width: 2rem 1.5rem 0;
			border-top-color: $button-background;
		}
	}

	.button-inside {
		font-size: 1.7rem;
		text-align: center;
		line-height: 100%;
		color: $white;
		padding: 8px 10px;
		width: 44px;
		height: 44px;
		display: block;
		background-color: $button-background;
		border-radius: 100%;

		strong,
		small {
			line-height: 100%;
			display: block;
		}

		strong {
			+ small {
				margin-top: 2px;
			}
		}

		strong {
			font-weight: normal;
			line-height: 70%;
		}

		small {
			font-size: 34%;
			letter-spacing: 0.5pt;
		}
	}

	.icon-arrow {
		position: absolute;
		top: initial;
		left: 50%;
		right: initial;
		bottom: 9px;
		width: 18px;
		height: 18px;
		margin-left: -9px;
		border-left: 2px solid $border-light;
		border-bottom: 2px solid $border-light;
		-webkit-transform: rotate(135deg);
		transform: rotate(135deg);
		transition: all 0.3s linear;
	}
}

.paging-area {
	.pagination {
		.page-item {
			+ .page-item {
				margin-left: 4px;
			}

			&:hover {
				.page-link {
					background-color: $semi-pink;
				}
			}

			&.disabled {
				.page-link {
					background-color: $light-pink;
					// color: $link-color;
					opacity: 0.35;
					pointer-events: none;
				}

				&:hover {
					.page-link {
						background-color: $light-pink;
					}
				}
			}

			&.active {
				.page-link {
					background-color: $button-background;
					color: $white;
					pointer-events: none;
					cursor: auto;
				}
			}
		}

		.page-link {
			text-align: center;
			line-height: 40px;
			border: 0;
			background-color: $light-pink;
			color: $body-color;
			margin: 0;
			padding: 0;
			width: 40px;
			height: 40px;
			border-radius: 100%;
		}
	}
}

.selector {
	cursor: zoom-in;
}

.custom-tabs {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
	
	@include breakpoint(tablet) {
    	justify-content: flex-start;
	}

	.nav {
		background-color: $light-pink;
		flex-wrap: nowrap;
		overflow-x: scroll;
		-webkit-overflow-scrolling: touch;
		border-radius: 30px;

		.nav-item {
			padding: 4px;
		}

		.nav-link {
			font-size: 0.9rem;
			text-transform: uppercase;
			color: $text-light;
			padding: 0.75rem 1.5rem;
			border-radius: 30px;
			
			@include breakpoint(tablet) {
				font-size: 1.1rem;
				padding: 0.75rem 2rem;
			}

			@include breakpoint(small-mobile) {
				font-size: 0.8rem;
				padding: 0.75rem 1.2rem;
			}

			&.active {
				background-color: $button-hover-background;
				color: $white;
			}
		}

		+ .tab-content {
			margin-top: 2rem;
		}
	}

	.tab-content {
		display: block;
		width: 100%;

		.subtitle-tab {
			font-size: 1.2rem;
			color: $title-highlight-color;
			
			@include breakpoint(tablet) {
				font-size: 1.3rem;
			}

			+ .tab-inside {
				margin-top: 1.5rem;
			}
		}
	}
}

.sidebar-toggle-button {
	cursor: pointer;
	position: absolute;
	z-index: 2;
	top: 12%;
	bottom: initial;
	left: initial;
	right: calc(100% - 16px);
	display: none;

	@include breakpoint(width-tablet-landscape) {
		display: block;
	}

	.fa {
		font-size: 1.2em;
		line-height: 40px;
		text-align: center;
		background-color: $pink;
		color: $white;
		width: 40px;
		height: 40px;
		border-top-left-radius: 30px;
		border-bottom-left-radius: 30px;
		box-shadow: 0 0 10px rgba(0,0,0,0.35);
		
		@include breakpoint(tablet) {
			font-size: 1.4em;
			width: 44px;
			height: 44px;
			line-height: 44px;
		}
	
		&:before {
			transition: $transition-base;
		}
	}

	&.click {
		.fa {
			&:before {
				content: "\f00d";
			}
		}
	}
}

.sidebar-area {
	@include breakpoint(width-tablet-landscape) {
		position: fixed;
	    z-index: 3;
	    max-width: 100vw;
	    width: 90%;
		top: 0;
		bottom: 0;
		left: initial;
		right: calc(-90% + 16px);
		transition: $transition-base;
	}

	@include breakpoint(tablet) {
	    width: 60%;
		right: calc(-60% + 16px);
	}

	@include breakpoint(desktop) {
	    width: auto;
		right: initial;
	}

	&.show {
		right: 0;
	}

	.backdrop-sidebar {
		position: fixed;
		z-index: 0;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba($black, 0.5);
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: $transition-base;
		backdrop-filter: saturate(180%) blur(20px);

		&.show {
			opacity: 1;
			visibility: visible;
			pointer-events: visible;
		}
	}

	.sidebar-content {
		@include breakpoint(width-tablet-landscape) {
			display: flex;
			flex-direction: column;
			width: 100%;
			height: 100%;
			overflow: auto;
			pointer-events: auto;
		}

		.sidebar-wrapper {
			position: relative;

			@include breakpoint(width-tablet-landscape) {
				flex: 1;
				min-width: 0;
				min-height: 0;
				padding: 24px 16px;
				overflow: auto;
			}
		}
	}
}

.sidebar-news {
	.sidebar-category {
		background-color: $light-pink;
		padding: 2rem;
		position: relative;
		z-index: 2;
		overflow: hidden;
		border-radius: 20px;
	}

	.sidebar-group {
		h5 {
			font-size: 1.1rem;
			line-height: 100%;
			color: $title-highlight-color;
			// text-transform: uppercase;

			+ .sidebar-list,
			+ .thumbnails,
			+ .thumbnail-list {
				margin-top: 24px;
			}
		}

		.sidebar-list {
			padding: 0;
			list-style: none;

			&.nested {
				padding-left: 20px;
				border-top: 1px solid $border-light;

				li {
					position: relative;

					&:before {
						content: "";
						position: absolute;
						top: -1px;
						bottom: -1px;
						left: -20px;
						right: initial;
						width: 1px;
						background-color: $border-light;
					}

					&:after {
						content: "";
						position: absolute;
						top: 50%;
						bottom: initial;
						left: -20px;
						right: initial;
						width: 10px;
						height: 1px;
						background-color: $border-light;
						transform: translate(0, -50%);
					}

					&:last-child {
						&:before {
							height: calc(50% + 1px);
						}
					}
				}

				a {
					font-size: 0.9em;
					color: $title-color;

					&:hover {
						color: $link-color;
					}
				}
			}

			li {
				+ li {
					border-top: 1px solid $border-light;
				}
			}

			a {
				font-size: 1em;
				line-height: 120%;
				position: relative;
				z-index: 1;
				color: $title-color;
				display: block;
				padding: 0.75rem 0;
				display: flex;
				justify-content: space-between;
				align-items: center;
				gap: 10px;

				&:hover {
					color: $link-color;
				}

				&.active {
					color: $white;

					&:before {
						content: "";
						position: absolute;
						z-index: -1;
						background-color: $link-color;
						top: 0;
						bottom: 0;
						left: -1rem;
						right: -1rem;
						border-radius: 30px;
					}
				}

				&[aria-expanded="true"] {
					.icon {
						&:before {
							content: "\f106";
						}
					}
				}
			}
		}

		+ .sidebar-group {
			margin-top: 32px;
		}
	}

	.thumbnails {
		.thumbnail-list {
			.image-area {
				flex: 0 0 100px;
				max-width: 100px;

				figure {
					.images {
						padding: 0 0 100%;
					}
				}
			}

			.info-area {
				@include breakpoint(desktop) {
					order: 0;
				}

				.title-thumbs {
					font-size: 1em;
					
					@include breakpoint(tablet) {
						font-size: 1.2em;
					}
					
					@include breakpoint(desktop) {
						font-size: 1.1em;
					}

					@include breakpoint(laptop) {
						font-size: 1em;
					}
				}

				.desc-thumbs {
					@include breakpoint(desktop) {
						font-size: 0.8em;
					}
				}

				.auth-date {
					h6 {
						@include breakpoint(desktop) {
							max-width: 83px;
						}

						@include breakpoint(laptop) {
							max-width: 88px;
						}
					}

					.auth-name {
						@include breakpoint(laptop) {
							max-width: 150px;
						}
					}
				}
			}

			.thumbnail-item {
				+.thumbnail-item {
					border-color: $border-light;
				}
			}
		}
	}

	+ .ads-section {
		margin-top: 30px;
	}
}

.custom-accordion {
	.accordion-list {
		background-color: #f3f4f6;
		overflow: hidden;
		border-radius: 30px;

		+ .accordion-list {
			margin-top: 1rem;
		}

		.toggle-collapse {
			font-size: 1.1rem;
			line-height: 140%;
			color: $white;
			cursor: pointer;
			padding: 20px;
			background-color: $blue;
			transition: all 0.3s linear;

			&.collapsed {
				color: $title-color;
				background-color: transparent;
			}
		}

		.accordion-body {
			padding: 20px;
			font-size: 1.1em;
			line-height: 150%;

			p {
				font-size: 1em;
				line-height: 150%;

				+ ul,
				+ ol,
				+ h3,
				+ h4,
				+ h5 {
					margin-top: 0.75em;
				}
			}

			ol,
			ul {
				padding-left: 30px;

				li {
					line-height: 150%;

					+ li {
						margin-top: 10px;
					}
				}
				
				+ p {
					margin-top: 0.75em;
				}
			}
		}
	}
}

.badges {
	padding: 0;
	list-style: none;
	display: flex;
	gap: 8px;
	flex-wrap: wrap;

	li {
		margin: 0;
	}

	span {
		font-size: 0.75em;
		text-transform: uppercase;
		letter-spacing: 0.5pt;
		padding: 4px 8px;
		color: $white;
		background-color: $tosca;
		border-radius: 10px;
		
		@include breakpoint(tablet) {
			font-size: 0.85em;
		}
	}

	&.sw {
		span {
			box-shadow: 0 0 10px rgba($black, 0.35);
		}
	}
}

.tags {
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;

	h6 {
		font-size: 0.75em;
		text-transform: uppercase;
		letter-spacing: 0.5pt;

		a {
			color: $body-color;

			&:hover {
				color: $link-color;
			}
		}
	}

	li {
		position: relative;
		margin: 0;

		+ li {
			padding-left: 20px;
			margin-left: 16px;

			&:before {
				content: "";
				width: 4px;
				height: 4px;
				background-color: $body-color;
				border-radius: 100%;
				position: absolute;
				top: 50%;
				bottom: initial;
				left: 0;
				right: initial;
				margin-top: -2px;
			}
		}
	}
}

.br-10 {
	border-radius: 10px;
	overflow: hidden;
}

.br-16 {
	border-radius: 16px;
	overflow: hidden;
}

.br-20 {
	border-radius: 20px;
	overflow: hidden;
}

.br-24 {
	border-radius: 24px;
	overflow: hidden;
}

.br-30 {
	border-radius: 30px;
	overflow: hidden;
}

.br-40 {
	border-radius: 40px;
	overflow: hidden;
}

.br-60 {
	border-radius: 60px;
	overflow: hidden;
}

.br-100 {
	border-radius: 100%;
	overflow: hidden;
}

.viewall {
	text-align: center;

	h6 {
		font-size: 0.9rem;
	}

	span {
		+ .icon-arrow {
			margin-left: 6px;
		}
	}
}

.page-content {
	+ .consult-info {
		margin-top: 80px;
		
		@include breakpoint(tablet) {
			margin-top: 100px;
		}
	}
}

.consult-info {
	background-color: $navy;
	padding: 50px 0;

	.consult-area {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		
		@include breakpoint(tablet) {
			max-width: 80%;
		}
		
		@include breakpoint(wide) {
			max-width: 60%;
		}
		
		@include breakpoint(desktop) {
			max-width: 50%;
		}

		h4 {
			font-size: 1.6rem;
			text-transform: uppercase;
			color: $title-highlight-color;
			
			@include breakpoint(small-mobile) {
				font-size: 1.5rem;
			}

			@include breakpoint(tablet) {
				font-size: 2.15rem;
			}

			+ h6 {
				margin-top: 20px;
			}
		}

		h6 {
			font-size: 1.1rem;
			
			@include breakpoint(small-mobile) {
				font-size: 1rem;
			}
			
			@include breakpoint(tablet) {
				font-size: 1.43rem;
			}

			+ .button-area {
				margin-top: 30px;
			}
		}
	}
}

.thumbnails {
	.side-left {
		+ .side-right {
			margin-top: 32px;
			
			@include breakpoint(desktop) {
				margin-top: 0;
			}
		}
	}

	.thumbnail-large {
		.wrapper {
			position: relative;

			&:hover {
				.info-area {
					.icon-arrow {
						background-image: url('../assets/img/arrow-light.png');
						background-color: $blue;
					}
				}
			}
		}

		.click-area {
			position: absolute;
			z-index: 2;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}

		.image-area {
			figure {
				position: relative;
				
				@include breakpoint(tablet) {
					padding-bottom: 24px;
				}

				.images {
					position: relative;
					width: 100%;
					height: 0;
					padding: 0 0 66.6%;
					
					@include breakpoint(desktop) {
						padding: 0 0 81%;
					}
					
					@include breakpoint(laptop) {
						padding: 0 0 71%;
					}
				}

				img {
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			+ .info-area {
				margin-top: 16px;
				
				@include breakpoint(tablet) {
					margin-top: 0;
				}
			}
		}

		figcaption {
			font-size: 0.65em;
			text-align: right;
			color: $semi-grey;
			margin-top: 8px;
			
			@include breakpoint(tablet) {
				margin-top: 0;
				position: absolute;
				top: initial;
				bottom: 0;
				left: 0;
				right: 0;
			}

			@include breakpoint(desktop) {
				font-size: 0.7em;
			}

			+ .info-area {
				margin-top: 16px;
				
				@include breakpoint(tablet) {
					margin-top: 0;
				}
			}
		}

		.badges {
			position: absolute;
			top: 16px;
			bottom: initial;
			left: initial;
			right: 16px;
			
			@include breakpoint(tablet) {
				top: 24px;
				right: 24px;
			}
		}

		.info-area {
			@include breakpoint(tablet) {
				position: absolute;
				z-index: 1;
				top: initial;
				bottom: 24px;
				left: 0;
				right: 0;
				padding: 32px;
				border-bottom-left-radius: 20px;
				border-bottom-right-radius: 20px;
				background: #000000;
				background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.8) 100%);
			}

			.flat {
				padding: 0;

				li {
					margin: 0;
				}
			}

			.tags {
				h6 {
					@include breakpoint(tablet) {
						font-size: 1em;
						color: rgba($white, 0.8);
						text-shadow: 0 0 10px rgba(0,0,0,0.4);
					}
				}

				a {
					@include breakpoint(tablet) {
						color: rgba($white, 0.8);
					}

					&:hover {
						color: $blue;
					}
				}

				+ .title-thumbs {
					margin-top: 8px;
					
					@include breakpoint(tablet) {
						margin-top: 16px;
					}
				}
			}

			.title-thumbs {
				color: $dark;
				font-size: 1.4em;

				@include breakpoint(tablet) {
					font-size: 2.2em;
					color: $white;
					max-width: 80%;
					text-shadow: 0 0 10px rgba(0,0,0,0.4);
				}

				@include breakpoint(laptop) {
					font-size: 2.55em;
				}
			}

			.icon-arrow {
				position: absolute;
				z-index: 1;
				top: initial;
				bottom: 32px;
				left: initial;
				right: 32px;
				width: 46px;
				height: 46px;
				background-image: url('../assets/img/arrow-dark.png');
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				background-color: $white;
				transition: all 0.3s linear;
				border-radius: 100%;
				box-shadow: 0 0 10px rgba($black, 0.35);
			}
		}
	}

	.thumbnail-list {
		padding: 0;
		list-style: none;

		.thumbnail-item {
			+ .thumbnail-item {
				margin-top: 16px;
				padding-top: 16px;
				border-top: 1px solid $border-light;
			}
		}

		.wrapper {
			display: flex;
			align-items: flex-start;
			gap: 16px;
			
			@include breakpoint(tablet) {
				align-items: center;
			}
			
			@include breakpoint(desktop) {
				align-items: flex-start;
			}
		}

		.image-area {
			position: relative;
			-webkit-box-flex: 0;
			-ms-flex: 0 0 100px;
			flex: 0 0 100px;
			max-width: 100px;
			
			@include breakpoint(tablet) {
				-ms-flex: 0 0 210px;
				flex: 0 0 210px;
				max-width: 210px;
			}
			
			@include breakpoint(desktop) {
				-ms-flex: 0 0 100px;
				flex: 0 0 100px;
				max-width: 100px;
			}
			
			@include breakpoint(laptop) {
				-ms-flex: 0 0 130px;
				flex: 0 0 130px;
				max-width: 130px;
			}

			figure {
				position: relative;

				.images {
					position: relative;
					width: 100%;
					height: 0;
					padding: 0 0 100%;

					@include breakpoint(tablet) {
						padding: 0 0 66.6%;
					}

					@include breakpoint(desktop) {
						padding: 0 0 100%;
					}
				}

				img {
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			.badges {
				position: absolute;
				z-index: 1;
				top: 10px;
				bottom: initial;
				left: initial;
				right: 10px;
			}
		}

		.info-area {
			@include breakpoint(desktop) {
				order: -1;
			}

			.tags {
				+ .title-thumbs {
					margin-top: 16px;
				}
			}

			.badges {
				+ .title-thumbs,
				+ .tags {
					margin-top: 16px;
				}
			}

			.title-thumbs {
				font-size: 1.1em;
				color: $title-color;
				
				@include breakpoint(tablet) {
					font-size: 1.2em;
				}
				
				@include breakpoint(desktop) {
					font-size: 1.1em;
				}

				@include breakpoint(laptop) {
					font-size: 1.2em;
				}

				a {
					color: $title-color;

					&:hover {
						color: $link-color;
					}
				}

				+ .desc-thumbs {
					margin-top: 8px;
				}
			}

			.desc-thumbs {
				font-size: 0.87em;
				color: $body-color;

				+ .auth-date {
					margin-top: 12px;
				}
			}

			.auth-date {
				padding: 0;
				list-style: none;
				display: flex;
				flex-wrap: wrap;

				li {
					position: relative;
					margin: 0;

					+ li {
						padding-left: 12px;
						margin-left: 8px;

						&:before {
							content: "";
							width: 4px;
							height: 4px;
							background-color: $body-color;
							border-radius: 100%;
							position: absolute;
							top: 50%;
							bottom: initial;
							left: 0;
							right: initial;
							margin-top: -2px;
						}
					}
				}

				h6 {
					font-size: 0.72em;
					color: $body-color;
					
					@include breakpoint(desktop) {
						max-width: 120px;
						white-space: nowrap;
						text-overflow: ellipsis;
						overflow: hidden;
					}

					@include breakpoint(laptop) {
						max-width: 150px;
					}
				}

				.auth-name {
					span {
						text-transform: uppercase;
						text-decoration: underline;
					}

					a {
						text-transform: uppercase;
						text-decoration: underline;
						color: $body-color;

						&:hover {
							color: $link-color;
						}
					}
				}
			}
		}

		&.large {
			.wrapper {
				@include breakpoint(desktop) {
					align-items: center;
				}
			}

			.image-area {
				@include breakpoint(desktop) {
					-ms-flex: 0 0 300px;
					flex: 0 0 300px;
					max-width: 300px;
				}

				figure {
					.images {
						@include breakpoint(desktop) {
							padding: 0 0 66.6%;
						}
					}
				}
			}

			.info-area {
				@include breakpoint(desktop) {
					order: 0;
				}

				.title-thumbs {
					@include breakpoint(desktop) {
						font-size: 1.2em;
					}

					+ .desc-thumbs {
						@include breakpoint(desktop) {
							margin-top: 12px;
						}
					}

					+ .auth-date {
						@include breakpoint(desktop) {
							margin-top: 16px;
						}
					}
				}

				.desc-thumbs {
					@include breakpoint(desktop) {
						font-size: 1em;
					}

					+ .auth-date {
						@include breakpoint(desktop) {
							margin-top: 16px;
						}
					}
				}
			}
		}
	}

	.thumbnail-medium {
		.image-area {
			figure {
				position: relative;

				@include breakpoint(tablet) {
					padding-bottom: 24px;
				}

				.images {
					position: relative;
					width: 100%;
					height: 0;
					padding: 0 0 66.6%;
					
					@include breakpoint(desktop) {
						padding: 0 0 77%;
					}
					
					@include breakpoint(laptop) {
						padding: 0 0 74%;
					}
				}

				img {
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}

		figcaption {
			font-size: 0.65em;
			text-align: right;
			color: $body-color;
			margin-top: 8px;
			
			@include breakpoint(tablet) {
				margin-top: 0;
				position: absolute;
				top: initial;
				bottom: 0;
				left: 0;
				right: 0;
			}

			@include breakpoint(desktop) {
				font-size: 0.7em;
			}

			+ .info-area {
				margin-top: 16px;
				
				@include breakpoint(tablet) {
					margin-top: 0;
				}
			}
		}

		.info-area {
			margin-top: 16px;

			@include breakpoint(tablet) {
				margin-top: 0;
			}

			.badges {
				+ .tags {
					margin-top: 16px;
				}
			}

			.tags {
				+ .title-thumbs {
					margin-top: 16px;
				}
			}

			.title-thumbs {
				font-size: 1.3em;
				color: $title-color;
				
				@include breakpoint(tablet) {
					font-size: 1.6em;
				}
				
				@include breakpoint(desktop) {
					font-size: 1.4em;
				}

				@include breakpoint(laptop) {
					font-size: 1.5em;
				}

				a {
					color: $title-color;

					&:hover {
						color: $link-color;
					}
				}

				+ .desc-thumbs {
					margin-top: 10px;
				}
			}

			.desc-thumbs {
				font-size: 1em;
				color: $body-color;

				+ .auth-date {
					margin-top: 16px;
				}
			}

			.auth-date {
				padding: 0;
				list-style: none;
				display: flex;
				flex-wrap: wrap;

				li {
					position: relative;
					margin: 0;

					+ li {
						padding-left: 12px;
						margin-left: 8px;

						&:before {
							content: "";
							width: 4px;
							height: 4px;
							background-color: $body-color;
							border-radius: 100%;
							position: absolute;
							top: 50%;
							bottom: initial;
							left: 0;
							right: initial;
							margin-top: -2px;
						}
					}
				}

				h6 {
					font-size: 0.72em;
					color: $body-color;
					
					@include breakpoint(desktop) {
						max-width: 120px;
						white-space: nowrap;
						text-overflow: ellipsis;
						overflow: hidden;
					}

					@include breakpoint(laptop) {
						max-width: 150px;
					}
				}

				.auth-name {
					span {
						text-transform: uppercase;
						text-decoration: underline;
					}

					a {
						text-transform: uppercase;
						text-decoration: underline;
						color: $body-color;

						&:hover {
							color: $link-color;
						}
					}
				}
			}
		}
	}

	.thumbnail-wrapper {
		&.margin-min {
			margin: -15px 0;
		}
	}

	.thumbnail-default {
		padding: 15px 0;

		@include breakpoint(tablet) {
		}

		.image-area {
			position: relative;

			&:hover {
				.icon-image {
					.fa {
						color: $link-color;
					}
				}
			}

			figure {
				position: relative;

				.images {
					position: relative;
					width: 100%;
					height: 0;
					padding: 0 0 66.6%;

					&.object-contain {
						background-color: $white;

						img {
							padding: 10%;
							object-fit: contain;
						}
					}
				}

				img {
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			.icon-image {
				position: absolute;
				z-index: 1;
				top: initial;
				bottom: 10px;
				left: initial;
				right: 10px;

				.fa {
					color: $white;
					font-size: 2em;
					text-shadow: 0 0 10px rgba(0,0,0,0.35);
					transition: $transition-base;
				}
			}

			+ .info-area {
				margin-top: 16px;
			}
		}

		.info-area {
			@include breakpoint(tablet) {
				order: -1;
			}

			.tags {
				+ .title-thumbs {
					margin-top: 8px;
				}
			}

			.title-thumbs {
				font-size: 1.15em;
				color: $title-color;
				
				@include breakpoint(small-mobile) {
					font-size: 1.1em;
				}

				@include breakpoint(tablet) {
					font-size: 1.15em;
				}

				a {
					color: $title-color;

					&:hover {
						color: $link-color;
					}
				}

				+ .desc-thumbs {
					margin-top: 8px;
				}

				+ .auth-date {
					margin-top: 12px;
				}
			}

			.subtitle-thumbs {
				font-size: 0.9rem;
				color: $title-color;
				
				@include breakpoint(small-mobile) {
					font-size: 0.85rem;
				}

				@include breakpoint(tablet) {
					font-size: 1rem;
				}

				a {
					color: $title-color;

					&:hover {
						color: $link-color;
					}
				}

				+ .desc-thumbs {
					margin-top: 8px;
				}

				+ .auth-date {
					margin-top: 12px;
				}
			}

			.desc-thumbs {
				font-size: 0.87em;
				color: $body-color;

				+ .auth-date {
					margin-top: 12px;
				}
			}

			.auth-date {
				padding: 0;
				list-style: none;
				display: flex;
				flex-wrap: wrap;

				li {
					position: relative;
					margin: 0;

					+ li {
						padding-left: 12px;
						margin-left: 8px;

						&:before {
							content: "";
							width: 4px;
							height: 4px;
							background-color: #c2c2c2;
							border-radius: 100%;
							position: absolute;
							top: 50%;
							bottom: initial;
							left: 0;
							right: initial;
							margin-top: -2px;
						}
					}
				}

				h6 {
					font-size: 0.72em;
					color: $semi-grey;
					
					@include breakpoint(desktop) {
						max-width: 72px;
						white-space: nowrap;
						text-overflow: ellipsis;
						overflow: hidden;
					}

					@include breakpoint(laptop) {
						max-width: 86px;
					}
				}

				.auth-name {
					@include breakpoint(desktop) {
						max-width: 76px;
					}

					@include breakpoint(laptop) {
						max-width: 130px;
					}

					span {
						text-transform: uppercase;
						text-decoration: underline;
					}

					a {
						text-transform: uppercase;
						text-decoration: underline;
						color: $semi-grey;

						&:hover {
							color: $blue;
						}
					}
				}
			}

			+ .button-area {
				margin-top: 16px;
			}
		}

		.button-area {
			ul {
				padding: 0;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;

				li {
					margin: 0;
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
					align-items: center;
					flex: 0 0 50%;
					max-width: 50%;
					padding: 4px;
				}
			}

			.button {
				font-size: 0.9em;
				text-align: center;
				padding: 12px 16px;
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				gap: 8px;
			}
		}

		.badges {
			position: absolute;
			z-index: 1;
			top: 10px;
			bottom: initial;
			left: initial;
			right: 10px;
		}
	}

	+ .paging-area {
		margin-top: 48px;
	}
}

.search-sort {
	padding: 10px 0;

	.wrapper-search {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	
		@include breakpoint(tablet) {
			flex-wrap: nowrap;
		}
	}

	.search-area {
		width: 100%;
		
		@include breakpoint(tablet) {
			width: auto;
		}

		+ .sort-area {
			margin-top: 10px;
		
			@include breakpoint(tablet) {
				margin-top: 0;
			}
		}

		.button {
			font-size: 1rem;
			text-align: center;
			line-height: 30px;
			padding: 0;
			width: 30px;
			height: 30px;
			border: 0;
			position: absolute;
			top: 5px;
			bottom: initial;
			left: initial;
			right: 5px;
		}
	}

	.sort-area {
		width: 100%;

		@include breakpoint(tablet) {
			width: auto;
		}

		ul {
			padding: 0;
			list-style: none;
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			align-items: center;
			gap: 10px;

			li {
				display: block;
				margin: 0;
				width: calc(50% - 5px);

				@include breakpoint(tablet) {
					width: auto;
				}
			}
		}
	}

	+ .portfolio-content {
		margin-top: 30px;
	}
}

.cat-news {
	.sliders {
		.thumbnails {
			.thumbnail-default {
				padding: 0;
			}
		}
	}

	.side-left {
		+ .side-right {
			margin-top: 32px;
			
			@include breakpoint(tablet) {
				margin-top: 0;
			}
		}
	}
}

.no-post {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	align-items: center;
	justify-content: center;
	padding: 30% 0;

	h5 {
		font-size: 1.1em;
		text-transform: uppercase;
		letter-spacing: 0.5pt;
		color: $semi-grey;
	}

	+ .thumbnail-list {
		margin-top: 32px;
	}
}





