body {
	&.on-scroll {
		.header-fix {
			padding-top: 0;
			// background-color: rgba($white, 0.5);
			background-color: rgba($black, 0.3);
			backdrop-filter: saturate(180%) blur(20px);
			box-shadow: 0 1px 3px 0 rgba(27,27,27,0.1), 0 4px 8px 0 rgba(27,27,27,0.1);
			// backdrop-filter: saturate(180%) blur(20px);

			&.show-menu,
			&.show-search {
				// background: $white;
			}

			.brand-logo {
				.logo {
					// width: 210px;
					// height: 30px;
					// background-image: url('../assets/img/logo.png');

					// @include breakpoint(tablet) {
					// 	width: 236px;
					// 	height: 34px;
					// }
				}
			}

			// .header-menu {
			// 	.nav-menu {
			// 		a {
			// 			text-shadow: none;
			// 		}
			// 	} 
			// }
		}
	}

	// &.index,
	&.full-cover,
	&.with-banner {
		&.on-scroll {
			.header-fix {
				background: rgba($white, 0.5);

				.brand-logo {
					.logo {
						background-image: url('../assets/img/logo.png');
					}
				}

				.search-input {
					.button-search {
						color: $blue;
						text-shadow: none;
					}
				}
			}
		}

		.header-fix {
			// background-color: rgba($white, 0.5);
			// backdrop-filter: saturate(180%) blur(20px);
			position: fixed;

			&.show-menu,
			&.show-search {
				background: $white;

				.brand-logo {
					.logo {
						background-image: url('../assets/img/logo.png');
					}
				}

				.search-input {
					.button-search {
						color: $blue;
						text-shadow: none;
					}
				}
			}

			&.show-search {
				.search-input {
					.button-search {
						color: $blue;
					}
				}
			}

			.search-input {
				.button-search {
					color: $white;
					text-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);

					&:hover {
						@include breakpoint(desktop) {
							color: $button-hover-background;
						}
					}
				}
			}


			.brand-logo {
				.logo {
					background-image: url('../assets/img/logo-white.png');
				}
			}
		}
	}
}

.header-fix {
	// position: sticky;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: initial;
	width: 100%;
	z-index: 3;
	padding-top: 16px;
	transition: all 0.3s linear;
	// background-color: rgba($black, 0.1);
	// backdrop-filter: saturate(180%) blur(20px);
	
	@include breakpoint(desktop) {
		padding-top: 32px;
	}

	&.show-menu,
	&.show-search {
		// background-color: $white;

		.search-web {
			.button-search {
				color: $blue;
			}
		}
	}

	.header-logo {
		display: block;
		z-index: 2;
		position: relative;
	}

	.brand-logo {
		display: block;
		vertical-align: middle;
		line-height: 100%;
		
		@include breakpoint(small-mobile) {
			font-size: 1.34em;
		}

		a {
			display: inline-block;
			vertical-align: middle;
			color: $white;

			&:hover {
				@include breakpoint(tablet) {
					color: $red;
				}
			}
		}

		.logo {
			display: block;
			width: 120px;
			height: 40px;
			background-image: url('../assets/img/logo-white.png');
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			transition: all 0.3s linear;

			@include breakpoint(tablet) {
				width: 180px;
				height: 44px;
			}

			@include breakpoint(desktop) {
				width: 150px;
				height: 40px;
			}

			@include breakpoint(laptop) {
				width: 180px;
			}

			@include breakpoint(small-mobile) {
				width: 86px;
			}
		}

		strong {
			display: none;
		}
	}

	.header-menu {
		display: flex;
		flex-wrap: wrap;
		gap: 2rem;
		justify-content: space-between;
		align-items: center;
		padding: 10px 0;
		// overflow: hidden;

		.nav-menu {
			padding: 0;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			gap: 8px;
			
			@include breakpoint(tablet) {
				gap: 16px;
			}

			li {
				position: relative;
				margin: 0;
			}

			a {
				position: relative;
				font-size: 1em;
				color: $white;
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				gap: 8px;
				text-shadow: 0px 2px 15px rgba(0,0,0,0.3);

				&:hover {
					color: $button-background;
				}

				&.active {
					color: $link-color;
					
					&:before {
						content: "";
						width: 100%;
						height: 2px;
						background-color: $link-color;
						position: absolute;
						top: 100%;
						bottom: initial;
						left: 0;
						right: 0;
					}
				}

			}
		}

		.custom-dropdown {
			position: absolute;
			top: 100%;
			bottom: initial;
			left: 0;
			right: initial;
			margin-top: 4px;
			padding: .5rem 0;
			background-color: $blue;
			min-width: 170px;
			overflow: hidden;
			border-radius: 16px;
			box-shadow: 0 1px 3px 0 rgba(27,27,27,0.1),0 4px 8px 0 rgba(27,27,27,0.1);

			&.pos-right {
				left: initial;
				right: 0;
			}

			ul {
				padding: 0;
				list-style: none;

				li {
					+ li {
						// border-top: 1px solid #CEDCE9;
					}
				}

				.dropdown-divider {
					border-color: #3089e2;
				}
			}

			a {
				font-size: 0.9em;
				line-height: 120%;
				position: relative;
				z-index: 1;
				color: $white;
				display: block;
				padding: 12px 20px;
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				gap: 8px;

				&:hover {
					background-color: #005CD5;
					color: $white;
				}
			}
		}

		.dropdown-profile {
			position: relative;
		}

		.custom-nav-profile {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			gap: 8px;
			padding: 8px;
			background-color: $light-blue;
			cursor: pointer;
			border-radius: 30px;
			transition: $transition-base;

			&[aria-expanded="true"],
			&.showing {
				background-color: $blue;
				
				.user-info {
					h6 {
						color: #c2d4ed;
					}

					h5 {
						color: $white;
					}
				}

				.user-menu {
					.register-icon {
						color: $white;
					}
				}
			}

			&:hover {
				color: $white;
				background-color: $blue;

				.user-info {
					h6 {
						color: #c2d4ed;
					}

					h5 {
						color: $white;
					}
				}

				.user-menu {
					.register-icon {
						color: $white;
					}
				}
			}

			.user-menu {
				img {
					width: 30px;
					height: 30px;
					object-fit: cover;
					object-position: center;
					border-radius: 100%;
				}

				.text-logo {
					display: block;
					width: 30px;
					height: 30px;
					font-size: 1em;
					text-align: center;
					line-height: 30px;
					background-color: $blue;
					color: $white;
					border-radius: 100%;
				}

				.register-icon {
					display: block;
					width: 30px;
					height: 30px;
					font-size: 1em;
					text-align: center;
					line-height: 30px;
					// background-color: $blue;
					color: $dark;
					border-radius: 100%;
				}
			}

			.user-info {
				padding-right: 8px;

				h6 {
					font-size: 0.75em;
					line-height: 100%;
					color: $semi-grey;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					margin: 0;
					max-width: 90px;

					+ h5 {
						margin-top: 4px;
					}
				}

				h5 {
					font-size: 0.9em;
					line-height: 100%;
					color: $dark;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					max-width: 90px;
					margin: 0;
				}
			}
		}

		.dropdown-menu {
			margin-top: 4px;
			border: 0;
			background-color: $light-pink;
			overflow: hidden;
			left: initial;
			right: 0;
			min-width: 170px;
			border-radius: 16px;
			box-shadow: 0 1px 3px 0 rgba(27,27,27,0.1),0 4px 8px 0 rgba(27,27,27,0.1);

			.dropdown-item {
				color: $text-dark;
				padding: 10px 20px;

				&:hover,
				&:focus {
					color: $white;
					background-color: $pink;
				}
			}

			.dropdown-divider {
				border-color: #3089e2;
			}
		}
	}

	.search-web {
		.search-input {
			position: relative;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;

			&.show {
				.button-search {
					color: $white;
					background-color: $button-background;
				}
			}

			.button-search {
				font-size: 1.2rem;
				line-height: 40px;
				text-align: center;
				background-color: transparent;
				border: 0;
				width: 40px;
				height: 40px;
				padding: 0;
				background: rgba(255, 255, 255, 0.2);
				border: 1px solid rgba(255, 255, 255, 0.3);
				backdrop-filter: saturate(180%) blur(5px);
				-webkit-backdrop-filter: saturate(180%) blur(5px);
				color: $white;
				border-radius: 100%;
				transition: all 0.3s linear;

				&:hover {
					color: $white;
					border-color: $button-background;
					background-color: $button-background;
				}
			}
		}

	}

	.search-field {
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		position: absolute;
		top: 100%;
		top: calc(100% + 10px);
		bottom: initial;
		left: initial;
		right: 0;
		padding: 0;
		width: 400px;
		transition: all 0.3s linear;

		&.show {
			opacity: 1;
			visibility: visible;
			pointer-events: visible;
		}

		.search-text {
			font-size: 1rem;
			width: 100%;
			border: 0;
			padding: 10px 20px;
			color: $pink;
			background-color: $light-pink;
			border-radius: 30px;
			box-shadow: 0 1px 3px 0 rgba(27,27,27,0.1), 0 4px 8px 0 rgba(27,27,27,0.1);

			&::placeholder {
				color: $text-light;
			}
		}
	}
}

.backdrop-global {
	position: fixed;
	z-index: 4;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	background-color: rgba($black, 0.5);
	backdrop-filter: saturate(180%) blur(20px);
	transition: $transition-base;
	
	&.show {
		opacity: 1;
		visibility: visible;
		pointer-events: visible;
	}
}
